header {
  margin: 50px 0 35px;
}

header #logo {
  font-family: 'drfont_daraehand';
  font-size: 3rem;
  color: #222;
  text-align: center;
}

main {
  width: 1800px;
  height: 750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #menu {
  width: 13%;
  height: 100%;
  background-color: #212529;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'LeeSeoyun';
}

main #menu .menu_title {
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.3rem;
  color: #f8f9fa;
}

main #menu .side_menu {
  width: 88%;
  height: 625px;
  overflow: auto;
  background-color: #f8f9fa;
  border-radius: 15px;
}

main #menu .create_list_btn {
  all: unset;
  margin-bottom: 15px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #c0eb75;
  border-radius: 10px;
  font-family: 'LeeSeoyun';
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

main #menu .create_list_btn:hover {
  background-color: #e9fac8;
}

main #menu .create_list_btn:active {
  background-color: #a9e34b;
}

main #diary_container {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #212529;
  border-radius: 15px;
}

main #diary_container .inner {
  width: 95%;
  height: 90%;
  overflow: auto;
}

footer {
  font-family: 'LeeSeoyun';
  text-align: center;
  margin-top: 20px;
}
