@charset "utf-8";

// 헤더영역
header {
    margin: 50px 0 35px;

    #logo {
        font-family: 'drfont_daraehand';
        font-size: 3rem;
        color: #222;
        text-align: center;
    }
}

// 본문영역
main {
    width: 1800px;
    height: 750px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #menu {
        width: 13%;
        height: 100%;

        background-color: #212529;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        font-family: 'LeeSeoyun';

        .menu_title {
            padding-top: 30px;
            box-sizing: border-box;

            font-size: 1.3rem;
            color: #f8f9fa;
        }

        .side_menu {
           width: 88%;
           height: 625px;
           overflow: auto;

           background-color: #f8f9fa;
           border-radius: 15px;
        }

        .create_list_btn {
            all: unset;
            margin-bottom: 15px;

            padding: 10px 20px;
            box-sizing: border-box;
            background-color: #c0eb75;
            border-radius: 10px;
            font-family: 'LeeSeoyun';

            transition: all .5s;
            cursor: pointer;

            &:hover {
                background-color: #e9fac8;
            }
            &:active {
                background-color: #a9e34b;
            }
        }
    }

    #diary_container {
        width: 85%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px solid #212529;
        border-radius: 15px;

        .inner {
            width: 95%;
            height: 90%;
            overflow: auto;
        }
    }
}

// 푸터영역
footer {
    font-family: 'LeeSeoyun';
    text-align: center;
    margin-top: 20px;
}